footer {
    background-color: #34547A;
}

.footer__content{
    margin-left: 406px;
}

.footer__content_name{
    font-family: Roboto;
    font-weight: 500;
    line-height: 25px;
    font-size: 21px;
    color: #FFFFFF;
    padding-top: 50px;
    padding-bottom: 20px;
}

.footer__content_dis{
    font-family: Roboto;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
    padding-bottom: 50px;
}