.about__content {
    width: 540px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 112px;
    margin-bottom: 100px;
    display: block;
}

.about__content_title {
    font-family: Roboto;
    font-weight: 500;
    line-height: 38px;
    font-size: 32px;
    color: black;
    margin-bottom: 50px;
}

.about__content_dis{
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}



.item {
    background-color: #34547A;
}

.item__content{
    display: block;
    height: 250px;
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
}

.item__content_unit {
    display: inline-block;
    height: 50px;
    width: 141px;
    margin-right: 49px;
    margin-top: 100px;
    margin-bottom: 100px;
}

#last {
    margin-right: 0px;
}

#box{
    display: inline-block;
}

.item__content_unit-dsk {
    position: absolute;
    margin-left: 20px;
    display: block;
    height: 50px;

}

h3{
    font-family: Roboto;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
    margin: 0px;
}

p {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    margin: 0px;
}

.video{
    background-color: #EEEFF1;
}

.video__content{
    width: 540px;
    padding-top: 100px;
    padding-bottom: 57px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.video__content_title{
    font-family: Roboto;
    font-weight: 500;
    line-height: 38px;
    font-size: 32px;
    color: black;
    margin-top: 0px;
}

.video__content_dis{
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

.video__link {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-bottom: 100px;
}

iframe {
    height: 600px;
    width: 1110px;
}